@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    color: white;
}

.lang {
    justify-content: center;
    align-items: center;
    display: flex;
    column-gap: 1vw;
    margin: 5vh 12vw;
    font-size: larger;
    font-weight: 630;
    color: white;
    height: 32px;
}

.signin {
    background-color: rgb(229,9,20);
    border-radius: 4px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 100%;
    font-size: 14px;
    text-decoration: none;
    color: white;
}

.box {
    background-color: rgba(0, 0, 0, 0.72);
    height: 100vh;
}
.startParent {
    display: flex;
    justify-content: center;
}
.logo>img {
    width: 25%;
    margin: 4vh 11.5vw;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.start, .start2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    font-size: 1.5em;
    flex-wrap: wrap;
    gap: 2vh;
    text-align: center;
    width: 50%;
}
.start2 {
    width: 80%;
    margin: 60px 10% 0;
    align-items: flex-start;
}

.email {
    background-color: rgba(22, 22, 22, 0.7);
    width: 390px;
    height: 100%;
    border: 0.1px solid rgba(128, 128, 128, 0.7);
    border-radius: 5px;
    padding: 2px 15px;

}
.email2 {
    width: 700px;
}

::placeholder {
    color: lightgray;
    font-weight: 500;
    font-size: larger;
}

.start>div {
    display: flex;
    gap: 7px;
    width: 97%;
    margin-top: 5px;
    height: 60px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.start>h1 {
    font-size: 50px;
    font-weight: 900;
}

.start>h3 {
    font-weight: 700;
    font-size: 20px;
    margin-top: 6px;
}

.start>span {
    font-size: medium;
    margin-top: 4vh;
}

.getStarted {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(229,9,20);
    border: 0;
    border-radius: 5px;
    padding: 9px;
    font-size: 23px;
    font-weight: 700;
    height: 100%;
    width: 210px;
}

.language {
    padding: 5px 10px;
    background-color: rgba(22, 22, 22, 0.7);
    border-color: rgba(128, 128, 128, 0.7);
    width: 130px;
    height: 100%;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
}

.main {
    background-image: url(assets/images/backgroung.jpg);
    background-size: cover;
    height: 100vh;
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.cards .card {
    height: 380px;
    width: 240px;
    font-size: 30px;
    font-weight: 850;
    position: relative;
    background: linear-gradient(135deg,rgb(26,34,70), rgb(33,15,25));
    border-radius: 14px;
    padding: 30px 13px;
}
main {
    background-color: black;
}

.questions {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
}

.question {

    background-color: rgb(45, 45, 45);
    padding-left: 25px;
    width: 60vw;
    height: 15vh;
    margin-top: 10px;
    position: relative;
    font-size: 1.9vw;
    font-weight: 450;
    display: flex;
    align-items: center;
}

.question img {
    position: absolute;
    right: 10px;
    height: 36px;

}

.answer {
    background-color: rgb(45, 45, 45);
    padding: 25px;
    width: 60vw;
    margin-top: 1px;
    font-size: 1.9vw;
    font-weight: 450;
    padding: 25px;
    display: none;
}

.questions h2 {}

/* @media (min-width: 600px) {
    .start {
        font-size: 2rem;
        font-weight: 700;
    }
}

@media (min-width: 960px) {
    .start {
        font-size: 2.5rem;
        font-weight: 900;
    }
}

@media (min-width: 1280px) {
    .start {
        font-size: 3.5rem;
        font-weight: 900;
    }
}

@media (min-width: 1920px) {
    .start {
        font-size: 4rem;
        font-weight: 900;
    }
} */

footer {
    background-color: black;
    padding: 20px 13% 100px;
}
footer > div {
    display: flex;
}
footer * {
    color: #B3B3B3;
}
footer > span {
    text-align: center;
}
.footerLinks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px 22%;
    height: 150px;
}

.signin:hover,button:hover {
    cursor: pointer;
    background-color: #E50914;
}
.cardsParent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 60px 10%;
}
.cardsParent h2 {
    margin: 13px 0;
    font-size: 23px;
}
.card svg {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.footerLink {
    text-decoration: underline;
    font-size: 14px;
}

footer h4 {
    margin: 10px 0 50px 0;
    font-weight: 500;
}
.start2>div{
    justify-content: flex-start;
}
footer > span {
    font-size: 14px;
}
footer .lang {
    justify-content: flex-start;
    margin: 38px 0;
}
select:focus{
    border: 1.2px solid white;
}